* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#topbar {
  -webkit-app-region: drag;
}

#topbar #close {
  -webkit-app-region: no-drag;
}


body {
  font-family: "favorit Pro", sans-serif;
  overflow: hidden;
}

