* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topbar {
    -webkit-app-region: drag;
}

#topbar #close {
    -webkit-app-region: no-drag;
}

#dragable {
    -webkit-app-region: drag;
}

@font-face {
    font-family: "favorit Pro";
    font-weight: 300;
    src: url("/Favorit Pro/FavoritPro-SemiLight.otf");
}

@font-face {
    font-family: "favorit Pro";
    font-weight: 400;
    src: url("/Favorit Pro/FavoritPro-Regular.otf");
}

@font-face {
    font-family: "favorit Pro";
    font-weight: 500;
    src: url("/Favorit Pro/FavoritPro-Medium.otf");
}

@font-face {
    font-family: "favorit Pro";
    font-weight: 700;
    src: url("/Favorit Pro/FavoritPro-Bold.otf");
}


body,
input {
    font-family: "favorit Pro", sans-serif;
    overflow: hidden;
}

input::selection {
    background-color: black;
    color: white;
}
