@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animate-pause {
        animation-play-state: paused;
    }
}

div::-webkit-scrollbar {
    display: none;
}

*::selection {
    background: transparent;
}

